.detail {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-color: rgba(196, 196, 196, 0.589);
    color:black;
    font-family:'Courier New', Courier, monospace;
    margin: 20px;
}

.img {
    width:100%;
}